<a href="https://colab.research.google.com/github/LidianoJesus/Basic-Projects/blob/master/001_Python_Inicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Comentário usa o '#'
print('Olá Mundão!')

Olá Mundão!

In [ ]:
# Operadores para cálculos
Soma = 1 + 2
Subtração = 1 - 1
Multiplicação = 2 * 10
Divisão = 10 / 2
Exponenciação = 2 ** 2
Resto_Divisao = 9 % 4
Divisao_Chão = 9 // 4

print( 'Somar:{}'.format(Soma) ) 
print( 'Subtração:', Subtração ) 
print( 'Multiplacação: {}' .format(Multiplicação) ) 
print( 'Divisão', Divisão ) 
print( 'Exponenciação: {}' .format(Exponenciação) )
print( 'Resto_Divisao', Resto_Divisao )
print( 'Divisao_Chão: {}'.format(Divisao_Chão) )
print( 'Varios elementos: {}, {}, {}'.format(Soma, Subtração, Divisão) )

Somar:3
Subtração: 0
Multiplacação: 20
Divisão 5.0
Exponenciação: 4
Resto_Divisao 1
Divisao_Chão: 2
Varios elementos: 3, 0, 5.0

In [ ]:
# Tipos de Variaveis
Inteiro_Exemplo_1 = int ( 100 )
Inteiro_Exemplo_2 = 100

Flutuante_Exemplo_1 = 10.50
Flutuante_Exemplo_2 = float( 10.50 )

Palavra_Exemplo_1 = 'Qualquer Palavra'
Palavra_Exemplo_2 = str( 'Qualquer Palavra' )

Booleando_Exemplo_1 = True 
Booleando_Exemplo_2 = False

# Tipos de Dados
Lista_Exemplo_1 = [1, 2, 3, 4, 5]
Lista_Exemplo_2 = ['Nome', 'Quarto', 'Morango', 4, 5]
Lista_Exemplo_3 = [1, 'Quarto', True, False]

# Tuplas são imutaveis (Não modifica)
Tupla_Exemplo_1 = ( 2, 3, 4, 6 )
Tupla_Exemplo_2 = ( 'Odemir', 'Depieri', 4 )

# Dicionário são para organizar os dados
Dicionario = { 'Nome':'Odemir', 'Idade':29 }

In [ ]:
# Nomeando Variaveis | Exemplo 1
Laranja, Melão, Limão = 1, 2, 3

print( Laranja, Melão, Limão )

1 2 3

In [ ]:
# Nomeando Variaveis | Exemplo 2
Morango = Uva = Kiwi = 100

print( Morango, Uva, Kiwi )

100 100 100

In [ ]:
# Nomeando Variaveis | Exemplo 3

# Criando uma lista
Carros = ['VW', 'GM', 'Ford']

# Nomeando as variaveis com a lista
Marca_01, Marca_02, Marca_03 = Carros

print( Marca_03 )

Ford

In [ ]:
# Combinando Variaveis | Exemplo 1
Nome = 'Odemir'
Sobrenome = 'Depieri'
Nome_Completo = Nome + ' ' + Sobrenome

print( Nome_Completo )

Odemir Depieri

In [ ]:
# Combinando Variaveis | Exemplo 2
Dolar = 5.40
Imposto = 0.20
Valor_Liquido = Dolar - ( Dolar * Imposto )

print( Valor_Liquido )

4.32

In [ ]:
# Comando Type
# Verificar o tipo da informação

A = 1
B = 2.90
C = 'Olá!'
D = [1, 2, 3]
E = ( 20, 30, 40)
F = {'CPF':12345678910}
G = False

print( type(A) )
print( type(B) )
print( type(C) )
print( type(D) )
print( type(E) )
print( type(F) )
print( type(G) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [ ]:
# Comando Round
# Metodo round, arredonda valores

Valor_Exemplo = 12.123456789

print( round( Valor_Exemplo, 1 ) )
print( round( Valor_Exemplo, 2 ) )
print( round( Valor_Exemplo, 3 ) )
print( round( Valor_Exemplo, 5 ) )

12.1
12.12
12.123
12.12346

In [ ]:
# Comando input
# Enviar uma informação momentânea

Nome = input('Qual seu nome? ')
Idade = input('Quantos anos você tem? ')

print('Seu nome é:', Nome)
print('Sua idade:', Idade)

Qual seu nome? Odemir
Quantos anos você tem? 299
Seu nome é: Odemir
Sua idade: 299

In [ ]:
# Operadores de Comparações - Parte 1
Igual = '=='
Diferente = '!='
Maior = '>'
Maior_Igual = '>='
Menor = '<'
Menor_Igual = '<='

print('8 é maior que 7:', 8 > 7 )
print('8 é menor que 7:', 8 < 7 )
print('8 é igual 7:', 8 == 7 )
print('10 é maior 10:', 10 > 10 )
print('10 é maior ou igual à 10:', 10 >= 10 )
print('10 é menor 10:', 10 < 10 )
print('10 é menor ou igual à 10:', 10 <= 10 )

8 é maior que 7: True
8 é menor que 7: False
8 é igual 7: False
10 é maior 10: False
10 é maior ou igual à 10: True
10 é menor 10: False
10 é menor ou igual à 10: True

In [ ]:
# Operadores de Comparações - Parte 2
And = 'and'
Ou = 'or'
Negação = 'not'
Dentro = 'in'

print('8 é maior que 7 e 7 maior que 8:', 8 > 7 and 7 > 8 )
print('8 é maior que 7 e 7 menor que 8:', 8 > 7 and 7 < 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 == 7 or 7 == 8 )
print('8 é maior que 7 ou 7 menor que 8:', 8 > 7 or 7 > 8 )
print('8 não está nessa lista:', 8 not in [8, 9, 10] )
print('8 não está nessa lista:', 7 not in [8, 9, 10] )

8 é maior que 7 e 7 maior que 8: False
8 é maior que 7 e 7 menor que 8: True
8 é maior que 7 ou 7 menor que 8: False
8 é maior que 7 ou 7 menor que 8: True
8 não está nessa lista: False
8 não está nessa lista: True

In [ ]:
# Manipulando dados dentro das Lista
Lista_Vazia = []
print('Lista antes:', Lista_Vazia )

# Inserindo valores
Lista_Vazia.append(1)
Lista_Vazia.append(2)
Lista_Vazia.append(3)
print('Lista Depois:', Lista_Vazia )

# Tamanho da lista
print('Lista contém:', len(Lista_Vazia), 'elementos' )

# Tamanho da lista
print('Acessando o 1º Elemento:', Lista_Vazia[0] )
print('Acessando o 2º Elemento:', Lista_Vazia[1] )
print('Acessando o último Elemento:', Lista_Vazia[-1] )
print('Acessando um periodo:', Lista_Vazia[0:2] )

# Excluindo valor na lista
del Lista_Vazia[1]
print('Depois da exclusão:', Lista_Vazia )

# Listando a lista
print('Depois da Limpeza:', Lista_Vazia.clear() )

Lista antes: []
Lista Depois: [1, 2, 3]
Lista contém: 3 elementos
Acessando o 1º Elemento: 1
Acessando o 2º Elemento: 2
Acessando o último Elemento: 3
Acessando um periodo: [1, 2]
Depois da exclusão: [1, 3]
Depois da Limpeza: None

In [ ]:
# Utilizando funções externas

# Importando a função Datetime da Biblioteca Datetime
from datetime import datetime
# Atribuindo a Data
Data = '18/09/19'
Conversao = datetime.strptime(Data, '%d/%m/%y')

print('A data é formato {}'. format(type( Data )) )
print('A data é formato {}'. format(type( Conversao )) )
print('Esse argumento é: {}' .format(Data == Conversao) )

A data é formato <class 'str'>
A data é formato <class 'datetime.datetime'>
Esse argumento é: False

In [ ]:
# Metodo len
# Calcula o tamanho de um objeto

Exemplo_01 = [1, 2, 3, 4, 5]
Exemplo_02 = {'Nome':'x', 'Sobrenome':'y', 'Idade':'z' }

print( len(Exemplo_01) )
print( len(Exemplo_02) )

5
3

In [ ]:
# 1º Exercício
# Calculando o IMC

# Metodo round, arrendondar valores
# Formula do IMC ( Peso / ( Altura * Altura ) )
IMC = 80 / ( 1.82 * 1.82 )
print( 'Meu IMC é: ', round(IMC, 1) )

Meu IMC é:  24.2

In [ ]:
# 2º Exercício
# Calculando de Juros Simples

Taxa_Juros = 0.05
Investimento = 2000

Ganhar =  Investimento + ( Investimento * Taxa_Juros )
print('Acumulei ao todo: {}' .format(Ganhar) )
print('Ganhei de juros: {}' .format(Ganhar - Investimento) )

Acumulei ao todo: 2100.0
Ganhei de juros: 100.0

In [ ]:
# 3º Exercício
# Sistema de Somas

Valor_01 = int( input('Primeiro valor: ') )
Valor_02 = int( input('Primeiro valor: ') )
Soma = Valor_01 + Valor_02

print('A soma é: {}' .format(Soma) )

Primeiro valor: 10
Primeiro valor: 20
A soma é: 30

In [ ]:
# 4º Exercício
# Criando uma Data

# Inputar os valores
Dia = int( input('Qual o dia: '))
Mes = int( input('Qual o mês: '))
Ano = int( input('Qual o ano: '))

# Consolidando as data
Data = str(Dia) + '/' + str(Mes) + '/' + str(Ano)
Converter = datetime.strptime(Data, '%d/%m/%y')

print( 'Data convertida{}' .format(Converter) )

Qual o dia: 10
Qual o mês: 02
Qual o ano: 19
10/2/19

In [ ]:
# 5º Exercício
# Calculando o metro quadrado

Altura = int( input('Qual a altura: '))
Largura = int( input('Qual a largura: '))
Quadrado = Altura * Largura

print('São: {} metros quadrados' .format(Quadrado) )

Qual a altura: 10
Qual a largura: 10
São: 100 metros quadrados

In [ ]:
# 6º Exercício
# verifique se o usuário é maior de idade

Idade = int( input('Qual sua idade:') )
Verificacao = Idade >= 18

print('Verificação: {}' .format(Verificacao))

Qual sua idade:20
Verificação: True

In [ ]:
# 7º Exercício
# Hipotenusa de um triângulo retângulo

# Formula = a² + b² = c²

Cateto_Oposto = float(input('Valor do cateto oposto: '))
Cateto_Adjacente = float(input('Valor do cateto adjacente: '))

Hipotenusa = (Cateto_Adjacente ** 2 + Cateto_Oposto ** 2) ** (1/2)
print('O valor da hipotenusa é: {}'.format(Hipotenusa) )

Valor do cateto oposto: 10.78
Valor do cateto adjacente: 8.90


O valor da hipotenusa é: 13.9792131395154

In [ ]:
# 8º Exercício
# Sistema de RH

# Salario inputado pelo usuário
Salario = float( input('Qual seu sálario: '))

# Variaveis de desconto
INSS = 0.11
Vale_Refeicao = 0.02
Vale_Transporte = 0.08
IR = 0.08

# Organizando os dados
Dicionario = { 'INSS': Salario * INSS, 
               'Vale Refeição' : Salario * Vale_Refeicao, 
               'Vale Transporte' : Salario * Vale_Transporte, 
               'Imposto de Renda' : Salario * IR }

# calculando o Debito
Debito = Dicionario['INSS'] + Dicionario['Vale Refeição'] + Dicionario['Vale Transporte'] + Dicionario['Imposto de Renda']
# calculando o valor liquido
Liquido = Salario - Debito

# Mostrando as informações
print('\n')
print('Informações Gerais')
print('*' * 35 )
print( 'Informações sobre os descontos:', Dicionario )
print( 'Desconto Geral:', Debito )
print('*' * 35 )
print('Sálario Liquido será: {}'.format(Liquido) )

Qual seu sálario: 8000


Informações Gerais
***********************************
Informações sobre os descontos: {'INSS': 880.0, 'Vale Refeição': 160.0, 'Vale Transporte': 640.0, 'Imposto de Renda': 640.0}
Desconto Geral: 2320.0
***********************************
Sálario Liquido será: 5680.0

In [ ]:
# Plus <<< --- >>> <<< --- >>> <<< --- >>> <<< --- >>>

# Criar um novo Dicionário
Dicionario_02 = Dicionario
# Criar novas posições no Dicionário
Dicionario_02['Valor Descontos Gerais'] = Debito
Dicionario_02['Valor Liquido'] = Liquido
Dicionario_02['Salário'] = Salario

print( Dicionario_02 )

{'INSS': 880.0, 'Vale Refeição': 160.0, 'Vale Transporte': 640.0, 'Imposto de Renda': 640.0, 'Valor Descontos Gerais': 2320.0, 'Valor Liquido': 5680.0, 'Salário': 8000.0}

In [ ]:
# Função para criar um DataFrame
from pandas import DataFrame

Base_Dados = DataFrame( Dicionario_02, index=[0] )
Base_Dados

    INSS  Vale Refeição  ...  Valor Liquido  Salário
0  880.0          160.0  ...         5680.0   8000.0

[1 rows x 7 columns]