<a href="https://colab.research.google.com/github/LidianoJesus/Basic-Projects/blob/master/Lista_de_exercicios2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01 Faça um prgrama usand o método 'input' e verifique o usuario tem + de 18 anos usando a condição 'if'.

In [16]:
idade = int(input('Digite sua idade: '))
nome = input('Digite seu nome: ')
if idade>=18:
    print(f'Olá, {nome}!')
    print(f'Você é maior de idade: ')
else:
    print(f'Você é menor de idade.')

Digite sua idade: 33
Digite seu nome: m
Olá, m!
Você é maior de idade:

02 Imposto no Salário
Faça um programa usando o método 'input' e calcul o imposto de renda de acordo com o salário da pessoa. Use o método 'IF', 'ELIF' e 'ELSE'.

In [15]:
salario = float(input('Digite seu salário: '))
nome = input('Digite seu nome: ')
if salario<=1903.98:
    print(f'Olá, {nome}!')
    print(f'Seu salário líquido é: {salario}')
elif salario <= 2826.65:
    print(f'Olá, {nome}!')
    print(f'Seu salário líquido é: {salario - (salario * 0.0750)}')
elif salario <= 3751.05:
    print(f'Olá, {nome}!')
    print(f'Seu salário líquido é: {salario - (salario * 0.15)}')
else:
    print(f'Olá, {nome}!')
    print(f'Seu salário líquido é: {salario - (salario * 0.225)}')

Digite seu salário: 2800
Digite seu nome: d
Olá, d!
Seu salário líquido é: 2590.0

03 Dois números.
Faça um programa usando m metodo 'input' qu receberão dois valores e verifique quais deles é o maior. Use a condição 'IF' e 'ELSE'.

In [25]:
N1 = float(input('Digite o primeiro numero: '))
N2 = float(input('Digite o segundo numero: '))
if N1>N2:
      print(f'Número 1 é maior que o numero 2')
else:
      print(f'Numero 2 é maior que o numero 1')

Digite o primeiro numero: 212
Digite o segundo numero: 1000
Numero 2 é maior quer numero 1

04 Valor Positivo ou Negativo.
Faça um programa usando o método 'input' e verifique se o numero é positivo ou negativo. Use a condição 'IF' e 'ELSE'.

In [31]:
N1 = float(input('Digite o primeiro numero: '))
if N1%2:
  print(f'O numero é negativo')
else:
  print(f'O numero é positivo')

Digite o primeiro numero: 101
O numero é negativo

05 Prova de matemnatica.
Faça um programa usando o metdo 'input' que receberão 3 valores e calcule a média do valor e use a condição 'IF' , 'ELI' e 'ELSE' para classificar aluno.

In [42]:
N1 = float(input('Digite a primeiro nota: '))
N2 = float(input('Digite a segunda nota: '))
N3 = float(input('Digite a terceira nota: '))
N4 = (N1+N2+N3)/3
if N4 <7:
  print(f'Reprovou')
elif (N4 > 7) and (N4 < 9):
  print(f'Aprovado')
else:
  print(f'Aprovado Diferencial')

Digite a primeiro nota: 10
Digite a segunda nota: 10
Digite a terceira nota: 10
Aprovado Diferencial

06 Loop Simples.
Faça um programa que sando o método 'FOR' que mostra do 0 a 9. Dica use o 'range'.

In [43]:
for loop in range (0, 10):
  print(loop)

0
1
2
3
4
5
6
7
8
9

In [48]:
# 07 Faça um programa que usando o metodo 'FOR' para percorrer uma lista e leve ao quadrado o valor da lista.

In [50]:
Lista = [2,4,6,8,10]

for loop in Lista:
  print(loop ** 2)

4
16
36
64
100

08 Tabuada.
Faça um programa usando o método 'input' que 1 valor e faça a tabuada desse valor usando 'FOR'.

In [51]:
Numero = int(input('Inseria o valor para a Tabuada: '))

print(f'*** Tabuada do {Numero} ***')
for Loop in range(1, 11):
  print(f'{Loop} x {Numero} = { Loop * Numero } ')

Inseria o valor para a Tabuada: 2
*** Tabuada do 2 ***
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

09 Loop´simples com 'enumerate'.
Faça um programa que usando o método 'FOR' para percorrer uma lista com o uso do 'enumerate'.
Lista = [2,4,6,8,10]

In [52]:
Lista = [2, 4, 6, 8, 10]

for Contador, Loop in enumerate(Lista):
  print( Contador, Loop )

0 2
1 4
2 6
3 8
4 10

10 Loop com condição.
Faça um programa que usando o método 'FOR' para percorrer uma lista e faça uma condição para verificar se a divisão
do valor por 2 existe resto ou não.

In [53]:
Lista = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

for Loop in Lista:

  if ( Loop % 2 ) == 0:
    print(f' Dividi {Loop} por 2 e não houve Resto')

  else:
    print(f' Dividi {Loop} por 2 e o resto foi { Loop % 2}')

 Dividi 1 por 2 e o resto foi 1
 Dividi 2 por 2 e não houve Resto
 Dividi 3 por 2 e o resto foi 1
 Dividi 4 por 2 e não houve Resto
 Dividi 5 por 2 e o resto foi 1
 Dividi 6 por 2 e não houve Resto
 Dividi 7 por 2 e o resto foi 1
 Dividi 8 por 2 e não houve Resto
 Dividi 9 por 2 e o resto foi 1
 Dividi 10 por 2 e não houve Resto

11 While simples.
Faça um programa que usando o método 'Whilw' para rodar 6 vezes e mostra na tela.

In [54]:
x = 1
while x < 6:
  print(x)
  x += 1

1
2
3
4
5

12 Whilke com finalizador.
Faça um programa que usando o método 'while' para rodar e vezes e inclua uma condição que ao finalizar elel mostre uma mensagem.

In [55]:
Contador = 1

while Contador < 6:
  print( Contador )
  Contador += 1

else:
  print('Finalizado!')

1
2
3
4
5
Finalizado!

13 Função soma.
Faça um programa usando uma função 'def' que receberá 4 valores e some elas.

In [56]:
Numero_01 = int(input('Numero_1: '))
Numero_02 = int(input('Numero_2: '))
Numero_03 = int(input('Numero_3: '))
Numero_04 = int(input('Numero_4: '))

def Soma(x, y, z, w):
  Somando = x + y + z + w
  return print( Somando )

Soma(Numero_01, Numero_02, Numero_03, Numero_04 )

Numero_1: 4
Numero_2: 3
Numero_3: 2
Numero_4: 7
16

14 Função ajustando texto.
Faça um programa usando uma função 'def' que receberá uma frase e converta ela para minusculo.

In [57]:
Texto = input('Digite Algo: ')

def Ajustar_Texto(x):
  x = x.lower()
  return print( x )

Ajustar_Texto(Texto)

Digite Algo: sdsa
sdsa

Função cadastro.
Faa um programa usando uma fnção 'def' que recebverá 3 variaveis de entradas (input) organize as infrmações em m dicionario essas informações e mostre no final.

In [58]:
Nome = str(input('Nome: '))
Sobrenome = str(input('Sobrenome: '))
Idade = int(input('Idade: '))

def Cadastro(Nome, Sobrenome, Idade):

  Dados = {
      'Nome_Inserido' : Nome,
      'Sobre' : Sobrenome,
      'Idade' : Idade
  }

  return print( Dados)

Cadastro(Nome, Sobrenome, Idade)

Nome: kij
Sobrenome: ss
Idade: 54
{'Nome_Inserido': 'kij', 'Sobre': 'ss', 'Idade': 54}